{% stories main_menu with { title: 'SDC/Molecules/Menu/Main Menu' } %}

{% story default with {
  name: 'Main Menu',
  args: {
    title: "Test", url: "https://google.com", target: "__self",
    background: '#000000'
  }
} %}

{% set nestedObject = [
  {
    title: "Home",
    url: "/",
    target: "_self"
  },
  {
    title: "Learn more",
    url: "/about",
    target: "_self"
  },
  {
    title: "Reserve Now",
    url: "/about",
    target: "_self"
  },
  {
    title: "Ownership",
    url: "/about",
    target: "_self"
  },
  {
    title: "FAQ",
    url: "/about",
    target: "_self"
  },
  {
    title: "Contact Us",
    url: "/about",
    target: "_self"
  }
]%}

{# Pass the nestedObject to the component #}
<nav class="p-5 shadow md:flex md:items-center md:justify-between" style="background: {{ background }}; background-size: cover;">
  <div class="flex justify-between items-center ">
    <span class="text-2xl font-[Poppins] cursor-pointer">
      <img class="h-10 inline"
           src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Tailwind_CSS_Logo.svg/512px-Tailwind_CSS_Logo.svg.png"
      >
      tailwind
    </span>

    {% embed 'aec_theme:main_menu' with { nested: nestedObject } %}{% endembed %}
  </div>
</nav>
{% endstory %}

{% endstories %}
