// Import generic styles.
@use "../../../../scss/core" as *;

//[data-component-id="aec_theme:main_menu"] {
//
//}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-white;
  width: 100%;
  padding: 2rem 0;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $desk) {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
}

.hamburger {
  display: flex;
  @media (min-width: $desk) {
    display: none;
  }
}

.navigation-menu {
  display: none;
  background-color: $color-white;
  position: static;
  @media (min-width: $desk) {
    display: block;
  }
  &.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 2rem;
    z-index: 9;
    height: 100vh;

    & > .menu {
      gap: 25px;
    }
  }
}
