@use '../01_base/variables' as *;
// Content 1230px.
// Use: @extend %content-container;
%content-container {
  max-width: $desk;
  padding-left: $gutter;
  padding-right: $gutter;
  margin-left: auto;
  margin-right: auto;
}

// Page container 1336px.
// Use: @extend %narrow-container;
%narrow-container {
  max-width: $max;
  margin-left: auto;
  margin-right: auto;
}

// Use: @extend %breakContainer;
%breakContainer {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
