// scss/04_components/generics/webform-comment.scss
// Import generic styles.
@use "../../core" as *;

.comment {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
    background-color: $color-white;
    border-radius: 0.75rem;
    box-shadow: 0 12px 30px rgba($color-gray-900, 0.08);
    padding: 1.5rem;

    @media (min-width: $tab) {
        grid-area: form;
        padding: 2rem;
        max-width: 460px;
      }

    &__title {
        line-height: 1.5;
        font-weight: 500;
        font-size: 25px;
    }
    &__input {
        padding: 15px;
        border-width: thin;
        border-radius: 7px;
        max-width: 100%;
        border: solid 1px #c5c5c5
    }

    &__textarea {
        padding: 15px;     
        border-radius: 7px;
        max-width: 100%;
        min-height: 150px;
        border: solid 1px #c5c5c5
    }

    &__button {
        .button {
        font-weight: 500;
        color: white;
        width: fit-content;
        border-width: thin;
        background: #3CB371;
        border-radius: 5px;
        padding: 0.5rem;
        border: none;
        }   
    }
}