<div {{ attributes.addClass('block-items-simple_wrapper') }}>
  <main class="block-items-simple">
    <h3>{{ title }}</h3>
    {% block content %}
      <ul>
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
      </ul>
    {% endblock %}
  </main>
</div>
