// Import generic styles.
@use "../../../scss/core" as *;

[data-component-id="iobase:logo"] {
  /* @todo Add your styles here. */
  .site-logo > img {
    max-width: 90px;
    height: auto;
    @media (min-width: $desk) {
      max-width: 120px;
      height: auto;
    }
  }
}
