<div {{ attributes.addClass('footer-bottom_wrapper') }}>
  <main class="footer-bottom">
    <section class="left">
      <span class="trademark">© 2025 ideasOrange Software.</span>
      <div class="link_groups">
        <a href="/privacy">Politicas de privacidad</a>
        |
        <a href="/terms-of-use">Terminos de uso</a>
      </div>
    </section>
    <section class="right">
      {% block block %}

      {% endblock %}
    </section>
  </main>
</div>
