<div {{ attributes.addClass('footer-bottom_wrapper') }}>
  <main class="footer-bottom">
    <section class="left">
      <span class="trademark">© {{ "now"|date("Y") }} Centro de la Visión Paraná.</span>
      <div class="link_groups">
        <a href="/politicas-de-privacidad">Politicas de privacidad</a>
        |
        <a href="/terminos-y-condiciones">Terminos de uso</a>
      </div>
    </section>
    <section class="right">
      {% block block %}

      {% endblock %}
    </section>
  </main>
</div>
