{% if page.prefooter %}
	<div class="page-region l-region-pre-footer">
		<div class="region-wrapper">
			{{ page.prefooter }}
		</div>
	</div>
{% endif %}
{# {% if page.footer %} #}
	<footer class="page-region l-region-footer" role="contentinfo">
		<div class="region-wrapper">
			{{ page.footer }}
			{% include 'iobase:footer_main' %}
			{% include 'iobase:footer_bottom' %}
		</div>
	</footer>
{# {% endif %} #}


