<div {{ attributes.addClass('footer-main_wrapper') }}>
  <main class="footer-main">
    <section class="top">
      {# <a href="{{ target }}"><img src="{{ image }}"/></a> #}
      <h2 class="footer-main_title">Centro de la Visión Paraná</h2>
    </section>
    <hr>
    <section class="bottom">
      {% block content %}

      {% endblock %}
    </section>
  </main>
</div>

